* {
  margin: 0;
  padding-inline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  font-family: nth($fuentes, 1);
}
h1 {
  font-family: nth($fuentes, 1);
}

h2 {
  font-family: nth($fuentes, 1);
  color: black;
}

p {
  font-family: nth($fuentes, 2);
}
